<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@banner-animation]="bannerState">
      <app-banner></app-banner>
    </div>
    <div *ngIf="register; else login">
      <div class="col-sm-6 d-flex justify-content-start" [@panel-animation]="panelState" (@panel-animation.start)="startAnimation" (@panel-animation.done)="finishAnimation">
        <app-register (showRegister)="showRegisterForm($event)" (hasError)="hasError()"></app-register>
      </div>
    </div>
    <ng-template #login>
      <div class="col-sm-6 d-flex justify-content-start" [@panel-animation]="panelState" (@panel-animation.start)="startAnimation" (@panel-animation.done)="finishAnimation">
        <app-login (showRegister)="showRegisterForm($event)" (hasError)="hasError()"></app-login>
      </div>
    </ng-template>
  </div>
</div>