<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel" *ngIf="postProgress === 'pending'">Nova publicação</h5>

          <h5 class="modal-title" id="exampleModalLabel" *ngIf="postProgress === 'progress'">Publicação em andamento
          </h5>

          <h5 class="modal-title" id="exampleModalLabel" *ngIf="postProgress === 'done'">Concluído</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Upload Pendente -->
        <div class="modal-body" *ngIf="postProgress === 'pending'; else inProgress">
          <div class="form-group">
            <input type="file" class="form-control" accept="image/*" (change)="prepareImageUpload($event)" />
          </div>
          <div class="form-group">
            <input type="text" placeholder="Coloque aqui um título bem bacana para sua foto" class="form-control" formControlName="title" />
          </div>
        </div>

        <!-- Upload em Andamento -->
        <ng-template #inProgress>
          <div class="modal-body" *ngIf="postProgress === 'progress'; else done">
            Progresso: {{percentage}} %
          </div>
        </ng-template>

        <!-- Upload Finalizado -->
        <ng-template #done>
          <div class="modal-body" *ngIf="postProgress === 'done'">
            Sua publicação foi realizada com sucesso.
          </div>
        </ng-template>

        <div class="modal-footer" *ngIf="postProgress === 'pending'">
          <button type="submit" class="btn btn-primary">Publicar</button>
        </div>
      </form>
    </div>
  </div>
</div>