<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>
      <a href="#" (click)="logout()" class="ml-2">
        <img src="/assets/logout.jpg" alt="Sair" width="27" height="27" style="margin-top: 2px">
      </a>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <p *ngIf="postsComponent.posts.length === 0 && !postsComponent.loading" class="no-post">
    Você ainda não tem nenhum post! Clique em
    <img src="/assets/camera.png" alt="camera-instagram" width="26" height="26">
    para fazer sua primeira publicação.
  </p>
  <p *ngIf="postsComponent.loading" class="no-post">
    Aguarde enquanto carregamos as suas publicações...
  </p>
  <app-posts #postsComponent></app-posts>
  <app-add-post (updateTimeline)="updateTimeline()"></app-add-post>
</div>
